<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Connexion à l'espace d'administration - {{ website_name }}</title>
        <link href="{{ asset('sbadmin2/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="{{ asset('sbadmin2/css/sb-admin-2.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/app.css') }}" rel="stylesheet">

    </head>
    <body class="bg-gradient-primary">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image" style="background: url('{{ asset('img/login.jpg') }}'); background-size: cover;"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Connexion à l'espace d'administration</h1>
                                        </div>

                                        {% if error %}
                                            <div class="alert alert-danger">Il y a eu une erreur pendant l'authentification, vérifier votre email ou votre mot de passe.</div>
                                        {% endif %}

                                        <form class="user" method="post">
                                            <div class="form-group">
                                                <input required name="_username" type="email" value ="{{ username }}" placeholder="Entrez l'adresse email" class="form-control form-control-user" aria-describedby="emailHelp">
                                            </div>
                                            <div class="form-group">
                                                <input required name="_password" type="password" placeholder="Entrez le mot de passe" class="form-control form-control-user">
                                            </div>
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                            <button type="submit" class="btn btn-primary btn-user btn-block">Se connecter</button>
                                        </form>
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="{{ path("home_index") }}">Retourner à l'accueil du site</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="{{ asset('sbadmin2/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('sbadmin2/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('sbadmin2/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
        <script src="{{ asset('sbadmin2/js/sb-admin-2.min.js') }}"></script>
    </body>
</html>
